<div class="container-fluid">
    <!-- Se usa nuestro continent-header -->
    <div class="continent-header">
        <img src="https://images5.alphacoders.com/110/thumb-1920-1104367.jpg" alt="">
        <div class="continent-info">
            <h2>Nosotros</h2>
        </div>
    </div>
</div>

<div class="container">
    <!-- Se usa nuestro info-style-1 -->
    <div class="info-style-1">
        <div class="row">
            <div class="col-sm col-lg-6">
                <h2>Con&oacute;cenos</h2>
                <p>
                    Nosotros somos un grupo de desarrolladores, estudiantes del 
                    CBTis 145 ubicado en San Juan del R&iacute;o QRO, 
                    pertenecientes a la especialidad de programaci&oacute;n, somos personas muy creativas que 
                    les gusta experimentar nuevas cosas, adem&aacute;s, estamos abiertos
                    a criticas constructivas para poder mejorar nuestro rendimiento al desarrollar y
                    dis&ntilde;ear nuestras p&aacute;ginas web.
                </p>
            </div>
            <div class="col-sm col-lg-6"><img src="https://i.ibb.co/cgFLqMD/CBTis-Nuevo-Logo.png" alt=""></div>
        </div>
    </div>
</div>

<div class="container">
    <!-- Usamos una clase llamada about-us para desplegar distinto el texto y los titulos -->
    <div class="row about-us">
        <div class="col-6">
            <!-- Usamos la clase our-image -->
            <img class="our-image" src="https://imagenes.elpais.com/resizer/R9CU7fwBn4eh9sdVp1tSBD9Mb4M=/414x0/filters:focal(3632x1874:3642x1884)/cloudfront-eu-central-1.images.arcpublishing.com/prisa/2SYY662JDFGLLCAEM6VWAGV6BY.jpg" alt="">
            <h3>Angel Mauricio Ram&iacute;rez Herrera</h3>
            <p>
                Estudiante de 5to semestre, encargado de la innovacion 
                y la parte l&oacute;gica de la p&aacute;gina.
            </p>
        </div>
        <div class="col-6">
            <!-- Usamos la clase our-image -->
            <img class="our-image" src="https://www.eluniverso.com/resizer/QZwaSVVA2nv5l7gBuvkZn4mn7Hs=/894x670/smart/filters:quality(70)/cloudfront-us-east-1.images.arcpublishing.com/eluniverso/U4LDZFFZSJENPGBXBBZGIH7VLQ.jpg" alt="">
            <h3>Fernanda Estrada Avelar</h3>
            <p>
                Estudiante de 5to semestre, encargada de correcci&oacute;n de 
                errores del c&oacute;digo.
            </p>
        </div>
        <div class="col-6">
            <!-- Usamos la clase our-image -->
            <img class="our-image" src="https://yt3.ggpht.com/ytc/AKedOLQSZ5Iznrn0oFt2JZ-vlJ-NW6jbW7SmNjxsG8daKw=s900-c-k-c0x00ffffff-no-rj" alt="">
            <h3>Ana Rebeca P&eacute;rez Garc&iacute;a</h3>
            <p>
                Estudiante de 5to semestre, encargada de la informaci&oacute;n,
                correcci&oacute;n de errores de ortografia y buen funcionamiento
                del CSS.
            </p>
        </div>
        <div class="col-6">
            <!-- Usamos la clase our-image -->
            <img class="our-image" src="https://cdn.forbes.com.mx/2020/03/Disen%CC%83o-sin-ti%CC%81tulo-2020-03-05T143323.072-640x360.jpg" alt="">
            <h3>Kenya Lizbeth Gerardo Trejo</h3>
            <p>
                Estudiante de 5to semestre, encargada de la parte creativa 
                y dise&ntilde;o de la p&aacute;gina;
            </p>
        </div>
    </div>
</div>

<div class="background-6">

<div class="container">
    <!-- Se usa nuestro info-style-1 -->
    <div class="info-style-1">
        <div class="row">
            <div class="col p-0"> 
                <div class="container">
                    <h2>Cont&aacute;ctanos</h2>
                    <!-- Usamos los recursos que proporciona la pagina formsubmit.co que sirve para recibir los datos en 
                    el correo electronico porporcionado para poder contactar con nosotros -->
                    <form action="e95b5593c826577175887a16d305deea" method="POST">
                        <div class="mb-3">
                            <label for="exampleFormControlInput1" class="form-label">Nombre</label>
                            <input type="text" class="form-control" name="name" id="exampleFormControlInput1" placeholder="Tu nombre">
                        </div>
                        <div class="mb-3">
                            <label for="exampleFormControlInput1" class="form-label">Nombre</label>
                            <input type="text" class="form-control" name="phone" id="exampleFormControlInput1" placeholder="+52-000-000-0000">
                        </div>
                        <div class="mb-3">
                            <label for="exampleFormControlInput1" class="form-label">Correo electronico</label>
                            <input type="email" class="form-control" name="email" id="exampleFormControlInput1" placeholder="nombre@example.com">
                          </div>
                          <div class="mb-3">
                            <label for="exampleFormControlTextarea1" class="form-label">Example textarea</label>
                            <textarea class="form-control" name="comments" id="exampleFormControlTextarea1" placeholder="Tu comentario aqu&iacute;" rows="3"></textarea>
                        </div>

                        <input type="hidden" name="_webhook" value="root/inicio">

                        <button class="btn btn-md bg-primary text-light" type="submit">Enviar</button>
                    </form>
                </div>
            </div>
            <div class="col p-0"> <img src="https://nupec.com/wp-content/uploads/2020/07/Captura-de-pantalla-2020-07-24-a-las-17.21.15.png" alt=""> </div>
        </div>
    </div>
</div>

</div>

<hr>
