
<nav class="navbar">
        <div class="navbar-container">
            <span class="brand"><img src="https://i.ibb.co/N7s6nbL/Logo-de-pagina.png" alt=""></span>
            <ul class="nav-links">
                <li><a class="navlink" routerLink="/inicio">Inicio</a></li>
                <li><a class="navlink" routerLink="/continentes">Continentes</a></li>
                <li><a class="navlink" routerLink="/galeria">Galeria</a></li>
                <li><a class="navlink" routerLink="/about">Nosotros</a></li>
            </ul>
        </div>
        <button id="toggle">
            <span class="logo"><img src="https://i.ibb.co/N7s6nbL/Logo-de-pagina.png" alt=""></span>
        </button>
</nav>