*{
    font-family: 'Roboto Mono', monospace;
    font-size: 1.2rem;
}

h2{
    font-size: 4.2rem;
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Exo 2', sans-serif;
}

hr {
    border: 10px solid #57FAE1;
    border-radius: 5px;
}
