<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Exo+2&family=Roboto+Mono:wght@500&display=swap" rel="stylesheet">
        
    <!-- Ponemos el orden de nuestros componentes -->
    <app-nav></app-nav> <!-- Componente de nav -->
    <router-outlet></router-outlet> <!-- Aqui se muestran los componentes al cual app-routing.module accede -->
    <app-footer></app-footer> <!-- Componente de footer -->