<footer class="page-footer bg-dark">
    <!--Parte principal del footer-->
    <div class="container text-center text-md-left mt-5">
        <div class="row">
            <div class="col-lg-4 mx-auto mb-4">
                <h6 class="text-uppercase">Mas informacion</h6>
                <hr class="bg-success mb-4 mt-0 d-inline-block mx-auto" style="width: 125px; height:2px">
                <p class="mt-2">Nosotros somos un grupo de desarrolladores web que se preocupa por 
                    hacer llegar al usuario la emocion de conocer nuevos lugares.
                </p>
            </div>
            <div class="col-lg-4 mx-auto mb-4">
                <h6 class="text-uppercase">Contactanos</h6>
                <hr class="bg-success mb-4 mt-0 d-inline-block mx-auto" style="width: 75px; height:2px">
                <ul class="list-unstyled">
                    <li><i class="fas fa-envelope-open-text"></i></li>
                    <li class="my-2">angelm.ramirezherrera@cbtis145.mx</li>
                    <li class="my-2">kenya.gerardo@cbtis145.mx</li>
                    <li class="my-2">fernanda.estrada@cbtis145.mx</li>
                    <li class="my-2">ana.perez@cbtis145.mx</li>
                </ul>
            </div>
            <div class="col-lg-4 mx-auto mb-4">
                <h6 class="text-uppercase">Redes sociales</h6>
                <hr class="bg-success mb-4 mt-0 d-inline-block mx-auto" style="width: 75px; height:2px">
                <div class="col-md-12 text-center">
                    <a href="#"><img src="https://static.cdnlogo.com/logos/t/96/twitter-icon.svg"></a>
                    <a href="#"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/51/Facebook_f_logo_%282019%29.svg/2048px-Facebook_f_logo_%282019%29.svg.png"></a>
                    <a href="#"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e7/Instagram_logo_2016.svg/2048px-Instagram_logo_2016.svg.png"></a>
                </div>
            </div>
        </div>
    </div>

    <div class="footer-copyright text-center">
        <small>&copy;Copyright 2021 TravellerCat | Todos los derechos reservados.</small>
    </div>

    <hr>

</footer>