*{
    font-family: 'Roboto Mono', monospace;
    font-size: 1.2rem;
}

h2{
    font-size: 4.2rem;
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Exo 2', sans-serif;
}

hr {
    border: 10px solid #57FAE1;
    border-radius: 5px;
}

.continent-header{
    width: 100%;
    height: 1080px;
    background-color: rgb(39, 39, 39);
}

.background-1{
    background: linear-gradient(rgba(255,255,255,1), rgba(255,255,255,.8)), url(https://i.pinimg.com/originals/7f/78/45/7f78454161dbde9e3da0ee9d218c7641.jpg) no-repeat;
    background-size: cover;
    background-attachment: fixed;  
}

.background-2{
    background: linear-gradient(rgba(255,255,255,1), rgba(255,255,255,.8)), url(https://www.teahub.io/photos/full/214-2147832_3840x2160-beautiful-hills-4k-nature-wallpaper-data-4k.jpg) no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.background-3{
    background: linear-gradient(rgba(255,255,255,1), rgba(255,255,255,.8)), url(https://static.guiarepsol.com/gr-cms/media/filer_public/20/1f/201f19c1-90b0-4b2d-942e-fb2aefe08b7b/okshutterstock_650168665.jpg) no-repeat;
    background-size: cover;
    background-attachment: fixed;
}


img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.continent-header img{
    opacity: 0.25;
}

.continent-header .continent-info{
    color: #fff;
    position: relative;
    bottom: 55%;
    text-align: center;
    text-transform: uppercase;
}

.continent-header h2{
    font-size: 10vw;
}

.info-style-1{
    margin: 5rem 0;
    border-left: 2px solid rgb(201, 199, 199);
    border-top: 2px solid rgb(201, 199, 199);
}

.info-style-1 img{
    height: 100%;
    max-height: 8000px;
    min-height: 500px;
}

.info-style-2 {
    margin: 5rem 0;
    border-bottom: 2px solid rgb(201, 199, 199);
    border-right: 2px solid rgb(201, 199, 199);
}

.info-style-2 img{
    height: 100%;
    max-height: 1900px;
    min-height: 200px;
    border-radius: 40px;
    border-right: 5px solid rgb(248, 246, 246);
    border-bottom: 5px solid rgb(248, 246, 246);
}

.info-style-2 .row{
    margin: 3rem 0;
}

.info-style-1 h2, .info-style-2 h2{
    margin: 3rem 0.7rem;
}